.vp-tag-ufhi {
  --vp-tag-color: #d5393e;
  --vp-tag-hover-color: #b8272c;
  --vp-tag-bg: rgba(244, 63, 94, 0.14);
}
.vp-tag-0x0t {
  --vp-tag-color: #cc6699;
  --vp-tag-hover-color: #be3f7f;
  --vp-tag-bg: rgba(161, 54, 107, 0.14);
}
.vp-tag-cfr1 {
  --vp-tag-color: #9966cc;
  --vp-tag-hover-color: #7171b8;
  --vp-tag-bg: rgba(83, 83, 167, 0.14);
}
.vp-tag-7enj {
  --vp-tag-color: #3366cc;
  --vp-tag-hover-color: #5680d5;
  --vp-tag-bg: rgba(102, 140, 217, 0.14);
}
.vp-tag-rw3o {
  --vp-tag-color: #a6623b;
  --vp-tag-hover-color: #c17950;
  --vp-tag-bg: rgba(199, 134, 97, 0.2411);
}
